<div class="mt-3 p-1">
  <form #find=ngForm>

    <mat-form-field>
      <input matInput type="text" placeholder="Product title" name="title" ngModel>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Product price" name="price" ngModel>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Category" name="category" ngModel>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">
      <mat-icon>search</mat-icon> SEARCH
    </button>
  </form>
</div>




