<form name="searchForm">

  <div class="mt-1 mb-3">
    <label for="productTitle" class="form-label">Product title:</label>
    <input type="text" class="form-control" id="productTitle" aria-describedby="productTitle" placeholder="title">
  </div>

  <div class="mb-3">
    <label for="productPrice" class="form-label">Product price:</label>
    <input id="productPrice" name="productPrice" type="number" min="0" placeholder="Price" class="form-control">
  </div>

  <div class="mb-3">
    <label for="productCategory" class="form-label">Product category:</label>
    <select id="productCategory" class="form-control"></select>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">Search</button>
  </div>

</form>

